body{
 background-image:url("../images/coffee-beans.avif");
 background-size:cover; 
}

.coffee-wrapper{
  width:100%;
  height:auto;
  margin:10px
}

.coffee-cursor{
  cursor:pointer;
}

img{
 width:100%;
 height:170px
}

.coffee-text{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.form-custom-control:focus{
  box-shadow:none !important;
}

.form-custom-control{
  margin:12px !important;
  border-radius:30px !important;
}

.coffee-detail-wrapper{
  width:36%;
  height:auto;
  margin:10px;
  margin-top:7% !important;
  margin-left:30%;
}

.icon-inner > .ionicon.s-ion-icon{
  margin-top:9% !important
}

.coffee-wrapper > h1{
  font-family:"Noto Serif Display", serif;
  font-optical-sizing:auto;
  font-weight:100;
  font-style:normal;
  margin-top:24%;
  text-shadow:0 0 0 5px blue !important;
}

.coffee-hot-wrapper > h1{
  font-family:"Noto Serif Display", serif;
  font-optical-sizing:auto;
  font-weight:900;
  font-style:italic;
  color:#fff !important;
}

.coffee-cursor > h2{
  font-size:25px;
}

.coffee-iced-wrapper > h1{
  font-family:"Noto Serif Display", serif;
  font-optical-sizing:auto;
  font-weight:900;
  font-style:italic;
  color:#fff !important;
}

.rm-underlined{
  text-decoration:none !important;
}

#iced-coffee{
  width:70%;
  margin:0 auto;
}

#coffee-detail{
  width:70%;
  margin:0 auto;
  margin-top:15%;
}

#hot-coffee-detail{
  width:70%;
  margin:0 auto;
  margin-top:15%;
}

#iced-coffee-detail{
  width:70%;
  margin:0 auto;
  margin-top:15%;
}

.responsive-text{
  font-size:25px !important;
}

@media (max-width:576px){
  .coffee-wrapper{
    width:95%;
    margin-top:70%;
    margin-left:2%
  }

  .coffee-detail-wrapper{
    width:100%;
    margin-left:0;
  }

  #hot-coffee{
    width:70%;
    margin:0 auto;
  }

  #responsive-website{
    display:flex;
    flex-direction:column;
  }

  #iced-coffee-detail{
    width:87%;
    margin:0 auto;
    margin-top:25%;
  }

  #coffee-detail{
    width:100%;
  }

  .responsive-image{
    width:70% !important;
    margin:0 auto;
    padding:15px;
  }
}

@media (max-width:1024px){
  .responsive-custom-col{
    max-width:50% !important;
  }

  .coffee-wrapper{
    width:95%;
    margin-top:27%;
    margin-left:2%
  }

  .coffee-detail-wrapper{
    width:100%;
    margin-left:0
  }

  #hot-coffee{
    width:70%;
    margin:0 auto;
  }

  #responsive-website{
    display:flex;
    flex-direction:column
  }

  #iced-coffee-detail{
    width:78%;
    margin:0 auto;
    margin-top:25%
  }

  #coffee-detail{
    width:79%;
  }

  .responsive-image{
    width:50% !important;
    margin:0 auto;
    padding:15px
  }

  .coffee-cursor > h2{
    font-size:16px;
    white-space:nowrap;
    padding:5px;
  }
}